html {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
}
body {
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    --main-blue: rgb(12, 178, 243);
    --accent-green: #0fca37;
    --light-grey: #F2F3F5;
    --drop-shadow: #0000001a;
    --dark-grey: rgb(63, 63, 63);
    --line-grey: rgb(192, 192, 192);
    min-height: 100vh;
    min-width: 100%;
}

#root{
    min-height: 100vh;
}

.App {
    min-height: 100vh;
}
.nav-bar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 50px;
    padding: 3px 15px;
    box-shadow: 0px 1px 2px 0px var(--drop-shadow);
    gap: 5px;
    box-sizing: border-box;
}

.nav-bar-left, .nav-bar-middle, .nav-bar-right {
    display: flex;
    gap: 10px;
    height: 100%;
    align-items: center;
}

.logo {
    color: var(--main-blue);
    font-size: 20px;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: -1px;
    text-decoration: none;
    user-select: none;
    margin-right: 20px;
}
.nav-bar-middle a {
    display: flex;
    align-items: center;
    justify-content: center;;
    height: 100%;
    width: 15vw;
    min-width: 50px;
    max-width: 155px;
    border-radius: 5px;
}

.nav-bar-middle a:hover:not(.current){
    background-color: var(--light-grey);
}

.nav-bar-middle svg {
    height: 30px;
    width: 25px;
    fill: none;
    stroke: rgb(97, 97, 97);
    stroke-width: 20px;
}

.nav-bar-middle > .current {
    border-bottom: 4px solid var(--main-blue);
}

.nav-bar-middle > .current svg {
    fill: var(--main-blue);
    stroke: var(--main-blue)
}

.nav-bar-right span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(236, 236, 236);
    overflow: hidden;
}

.nav-bar-right span:hover {
    filter: brightness(95%);
    cursor: pointer;
}

.nav-bar-right svg {
    height: 20px;
    width: 20px;
}

.nav-bar-right a{
    background-color: white;
    padding: 3px 10px 3px 5px;
    border-radius: 30px;
    margin: 0px;
}

.nav-bar-right a:hover{
    filter: brightness(95%);
}

.profile {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.profile:visited {
    text-decoration: none;
    color: black;
}

.profile span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--light-grey);
}

.home {
    display:flex;
    justify-content: center;
    background-color: #F0F2F5;
    height:100%;
    min-height: 100vh;
    width: 100%;
}

.post-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    min-width: 500px;
    max-width: 680px;
    padding: 15px;
    margin-top: 50px;
    gap: 15px;
    align-items: center;
}

.post-container > button {
    all:unset;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-blue);
    border: 1px solid var(--main-blue);
    border-radius: 10px;
    height: 40px;
    width: 30%;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 25px;
    background-color: var(--light-grey);
    cursor: pointer;
}

.post-container > button:hover {
    filter: brightness(95%);
}

.new-post {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    min-width: 100px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px var(--drop-shadow);
    padding: 10px 15px;
    gap: 10px;
    border: 1px solid rgb(216, 216, 216);
    box-sizing: border-box;
}

.new-post-expanded {
    height: 200px;
    padding: 20px 20px 5px 20px;
    align-items: flex-start;
}

.new-post-profile {
    display: flex;
}
.new-post span {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--light-grey);
    margin-right: 10px;
    overflow: hidden;
}

.profile-pic > img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.new-post-text {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    justify-content: center;
    box-sizing:border-box
}

.new-post-text-expanded {
    justify-content: space-between;
}

.new-post form {
    display: flex;
    align-items: center;
    height: 70%;
}
.new-post textarea {
    all: unset;
    width: 100%;
    min-width: 300px;
    background-color: var(--light-grey);
    height: 45px;
    border-radius: 30px;
    padding: 13px 13px 10px 13px;
    color: var(--dark-grey);
    box-sizing: border-box;
}

.new-post .expanded {
    height: 100%;
    border-radius: 10px;
}

.new-post button {
    all:unset;
    border: 1px solid var(--main-blue);
    width: 80px;
    text-align: center;
    padding: 5px 0px;
    border-radius: 10px;
    margin-left: 5px;
    color: var(--main-blue);
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.new-post button:hover {
    background-color: var(--main-blue);
    color: white;
}

.new-post .close-button{
    color: var(--dark-grey);
    border-color: var(--dark-grey);
    background-color: white;
}

.new-post .close-button:hover{
    background-color: var(--dark-grey);
}

.post {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    min-width: 100px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px var(--drop-shadow);
    padding: 15px 15px 5px 15px;
    gap: 5px;
    border: 1px solid rgb(216, 216, 216);
    box-sizing: border-box;
}

.post-profile {
    display: flex;
    gap: 10px;
    padding-bottom: 15px;
}

.post-profile span {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--light-grey);
    overflow: hidden;
}

.post-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
}

.post-details>p {
    margin: 0px;
    font-size: 13px;
    color: var(--dark-grey);
}

.post-details>a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: black;
    margin: 0px;
}

.post-details>a:visited {
    text-decoration: none;
    color: black;
}

.post-content {
    font-size: 16px;
    font-weight: 300px;
    padding-bottom: 15px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.post-likes-comments-count {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--line-grey);
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: normal;
    color: var(--dark-grey);
    padding-bottom: 15px;

}

.post-likes, .post-comments {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    user-select: none;
    cursor: pointer;
}

.post-likes > svg {
    fill: var(--main-blue);
    height: 20px;
    width: 20px;
}

.post-buttons {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    user-select: none;
    cursor: pointer;
}

.post-buttons > .liked {
    color: var(--main-blue);
}

.post-buttons > .liked svg {
    fill: var(--main-blue);
    animation: 0.5s rotate
}

@keyframes rotate {

    60% {
        transform: scale(1.3) rotate(-20deg);
    }
  }

.post button,
.post label{
    all:unset;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 54%;
    color: var(--dark-grey);
    gap: 10px;
    user-select: none;
}

.post-buttons svg {
    fill: var(--dark-grey);
}

.post button:hover,
.post label:hover {
    background-color: rgb(238, 238, 238);
}

.comments {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--line-grey);
    padding-top: 15px;
}

.comment {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.comments span{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--light-grey);
    overflow: hidden;
}

.comment-content {
    background-color: var(--light-grey);
    padding: 10px 15px;
    border-radius: 25px;
}

.comment-content >a,p {
    margin: 3px;
}

.comment-content > a{
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.comment-content > p {
    font-weight: normal;
    line-height: 20px;
    font-size: 16px;
}

.comment-buttons { 
    display: flex;
    align-items: center;
    font-size: 13px;
    gap: 10px;
    padding-left: 15px;
}

.comment-buttons svg {
    height: 16px;
    width: 16px;
    fill: var(--main-blue);
    user-select: none;
    cursor: pointer;
}

.comment-buttons > p {
    display: flex;
    align-items: center;
    gap: 3px;
}
.comment-buttons > button {
    all:unset;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    gap: 3px;
}

.comment-buttons > .liked {
    color: var(--main-blue);
}

.comment-buttons > button:hover {
    text-decoration: underline;
    background-color: white;
}

.post-comment { 
    display: flex;
    padding-bottom: 15px;

}

.comments input {
    all: unset;
    width: 90%;
    background-color: var(--light-grey);
    height: 80%;
    border-radius: 25px;
    text-indent: 15px;
    padding: 5px;
    margin-left: 15px;
}

.profile-page {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    background-color: #F0F2F5;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.profile-page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    min-width: 650px;
    background-color: white;
    padding: 30px 0px 0px 0px;
    box-shadow: 0px 1px 2px 0px var(--drop-shadow);
}

.profile-page-header-wrapper {
    display: flex;
    width: 90%;
    max-width: 1200px;
}

.profile-page-header-wrapper>span{
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--light-grey);
    margin-right: 20px;
    overflow: hidden;
}

.profile-page-details {
    margin-right: auto;
    align-self: center;
}

.profile-page-details > h1 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 10px;
}

.profile-page-details > p {
    font-size: 18px;
    font-weight: bold;
    color: var(--dark-grey);
}

.profile-page-header-wrapper > .friend-button {
    align-self: end;
    margin-left: auto;
}

.profile-page-header-wrapper > .friend-button button {
    height: 40px;
    padding: 0px 40px
}

.profile-page-header-wrapper > .friend-button .expanded {
    top: 55px;
}

.profile-nav-bar {
    margin-top: 25px;
    padding: 5px 0px;
    width: 90%;
    max-width: 1200px;
    display: flex;
    border-top: 1px solid var(--line-grey);
}

.profile-nav-bar > button {
    all:unset;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    color:var(--dark-grey);
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}

.profile-nav-bar > button:hover {
    background-color: var(--light-grey);
}

.profile-nav-bar > button.selected {
    border-bottom: 4px solid var(--main-blue);
    color: var(--main-blue);
}

.profile-posts-content {
    padding: 15px 0px;
    gap: 15px;
    align-self: center;
    display: grid;
    max-width: 1130px;
    width: 85%;
    grid-template-columns: minmax(250px, 450px) minmax(450px, 680px);
}

.profile-intro {
    position: sticky;
    top: 65px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px var(--drop-shadow);
    padding: 20px;
    gap: 5px;
    border: 1px solid rgb(216, 216, 216);
    box-sizing: border-box;
    height:fit-content;
    box-sizing: border-box;
}

.profile-intro  svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    padding-right: 5px;
}

.profile-intro > p {
    color: var(--dark-grey);
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 16px;
}

.profile-page h2 {
    padding: 0px;
    margin: 0px;
}

.profile-posts-container {
    display: flex;
    flex-direction: column;
    max-width: 680px;
    width: 100%;
    gap: 15px;
}

.profile-posts-container h3 {
    color: var(--dark-grey);
    align-self: center;
}

.profile-posts-title {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px var(--drop-shadow);
    padding: 20px;
    gap: 5px;
    border: 1px solid rgb(216, 216, 216);
    box-sizing: border-box;
    height:fit-content;
}

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: var(--light-grey);
}
.login-page-container {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

.login-page-left {
    color: var(--main-blue);
    font-size: 60px;
    font-weight: 900;
    letter-spacing: -3px;
}

.login-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 350px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px var(--drop-shadow);
    padding: 20px;
    box-sizing: border-box;
}

.login-form>.success {
    color: #0b9228;
    align-self: start;
    padding-bottom: 10px;
    animation: shift 0.25s;
}

@keyframes shift {
    from {
        opacity: 0;
        transform: scaleY(0);
    }
    to {
        opacity: 1;
        transform: scaleY(1);
    }
  }

.login-form > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
    border-bottom: 1px solid var(--line-grey);
}

.login-form > form > input {
    all:unset;
    border: 1px solid var(--line-grey);
    border-radius: 10px;
    height: 40px;
    width: 100%;
    text-indent: 15px;
    color: var(--dark-grey);
}

.login-form > form > button {
    all:unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-blue);
    border-radius: 10px;
    height: 40px;
    width: 100%;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.login-form > button {
    all:unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-green);
    border-radius: 10px;
    height: 40px;
    width: 60%;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.sign-up-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(165, 165, 165, 0.473);
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px var(--drop-shadow);
}

.sign-up-header {
    display: flex;
    justify-content: space-between;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 25px;
}

.sign-up-header > button {
    all:unset;
    font-size: 25px;
    align-self:flex-start;
    color: var(--dark-grey);
}

.sign-up-container > form {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.sign-up-container > form > label {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: -2px;
    color: var(--dark-grey);
}

.sign-up-container > form > input:not([type=file]) {
    all:unset;
    width: 80%;
    border: 1px solid var(--line-grey);
    border-radius: 10px;
    height: 40px;
    width: 100%;
    text-indent: 15px;
    color: var(--dark-grey);
}

.sign-up-container > form > input[type=date],
.sign-up-container > form > input[type=file] {
    display: flex;
    align-items: center;
    text-indent: 8px;
    font-size: 14px;
    color: var(--dark-grey);
}

.sign-up-container > button {
    all:unset;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-green);
    border-radius: 10px;
    height: 40px;
    width: 60%;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

.friends-page {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0F2F5;
    min-height: 100vh;
    width: 100%;
}

.friends-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 25px;
    background-color: white;
    box-shadow: 0px 1px 2px 0px var(--drop-shadow);
    min-width: 720px;
    max-width: 1200px;
    width: 80%;
    box-sizing: border-box;
    margin-top: 70px;
}

.friends-container h2 {
    align-self: start;
    padding-left: 20px;
    padding-top: 5px;
}
.friends-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    grid-auto-rows:max-content;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    gap: 5px;
}

.friend-card {
    display: flex;
    align-items: center;
    height: 120px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    gap: 10px;
    max-width: 100%;
}

.friend-card-pic {
    min-height: 80px;
    height: 80px;
    min-width: 80px;
    width: 80px;
    background-color: var(--light-grey);
    border-radius: 10px;
    overflow: hidden;
}

.friend-card > a {
    font-size: 16px;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.friend-card > a:visited {
    text-decoration: none;
    color: black;
}

.friend-card-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-left: auto;
    gap: 8px;
}

.friends-container > button {
    all:unset;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-blue);
    background-color: white;
    border: 1px solid var(--main-blue);
    border-radius: 10px;
    height: 40px;
    width: 200px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 25px;
    cursor: pointer;
    user-select: none;
}

.friends-container > button:hover {
    filter:brightness(95%);
}

.friends-nav-bar {
    display: flex;
    padding: 5px 0px;
    width: 100%;
    padding-left: 50px;
}

.friends-nav-bar > button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: fit-content;
    min-width: 100px;
    color:var(--dark-grey);
    font-weight: bold;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 16px;
    cursor: pointer;
}

.friends-nav-bar > button:hover {
    background-color: var(--light-grey);
}

.friends-nav-bar > button.selected {
    border-bottom: 4px solid var(--main-blue);
    color: var(--main-blue);
}


.friend-button {
    position: relative;
    float: right;
}
.friend-button button {
    all:unset;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 35px;
    padding: 0px 15px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
}

.friend-button button:hover{
    filter: brightness(95%);
}

.friend-button .respond,
.friend-button .friends{
    background-color: var(--main-blue);
}

.friend-button .not-friends{ 
    background-color: rgb(230, 248, 255);
    color: var(--main-blue);
}

.friend-button .deny,
.friend-button .requested {
    background-color: var(--light-grey);
    color: var(--dark-grey)
}

.friend-button .expanded {
    position: absolute;
    z-index: 1;
    display:flex;
    flex-direction: column;
    width: fit-content;
    min-width: 200px;
    top: 45px;
    right: 0px;
    box-shadow: 0px 1px 5px 0px rgba(128, 128, 128, 0.699);
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

.friend-button .requested-cancel,
.friend-button .friends-unfriend,
.friend-button .deny,
.friend-button .confirm {
    background-color: white;
    color: var(--dark-grey);
    justify-content: start;
    padding: 0px 25px;
    white-space: nowrap;
}