html {
    min-height: 100%;
    min-width: 100%;
    min-width: 320px;
    margin: 0;
}
body {
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    --main-blue: rgb(12, 178, 243);
    --accent-green: #0fca37;
    --light-grey: #F2F3F5;
    --drop-shadow: #0000001a;
    --dark-grey: rgb(63, 63, 63);
    --line-grey: rgb(192, 192, 192);
    min-height: 100vh;
    min-width: 100%;
}

#root{
    min-height: 100vh;
    width: 100%;
}

.App {
    min-height: 100vh;
}

.loading {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.loading h2{
    font-weight: normal;
    font-size: 20px;
    color: rgb(139, 139, 139);
}

.loading img{
    height: 100px;
    width: 100px;
}

.nav-bar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 50px;
    padding: 3px 15px;
    box-shadow: 0px 1px 2px 0px var(--drop-shadow);
    gap: 5px;
    box-sizing: border-box;
}

.nav-bar-left, .nav-bar-middle, .nav-bar-right {
    display: flex;
    gap: 10px;
    height: 100%;
    align-items: center;
}

.logo {
    color: var(--main-blue);
    font-size: 20px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -1px;
    text-decoration: none;
    user-select: none;
    margin-right: 20px;
}
.nav-bar-middle a {
    display: flex;
    align-items: center;
    justify-content: center;;
    height: 100%;
    width: 15vw;
    min-width: 50px;
    max-width: 155px;
    border-radius: 5px;
}

.nav-bar-middle a:hover:not(.current){
    background-color: var(--light-grey);
}

.nav-bar-middle svg {
    height: 30px;
    width: 25px;
    fill: none;
    stroke: rgb(97, 97, 97);
    stroke-width: 20px;
}

.nav-bar-middle > .current {
    border-bottom: 4px solid var(--main-blue);
}

.nav-bar-middle > .current svg {
    fill: var(--main-blue);
    stroke: var(--main-blue)
}

.nav-bar-right span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(236, 236, 236);
    flex: none;
}

.nav-bar-right .profile-pic {
    overflow: hidden;
}

.nav-bar-right>span:hover {
    filter: brightness(95%);
    cursor: pointer;
}

.nav-bar-right svg {
    height: 20px;
    width: 20px;
}

.nav-bar-right a{
    background-color: white;
    padding: 3px 10px 3px 5px;
    border-radius: 30px;
    margin: 0px;
    user-select: none;
}

.nav-bar-right a:hover{
    filter: brightness(95%);
}

.nav-bar-right span:hover .settings-menu {
    filter: none;
}

.settings-menu,
.notifications-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 350px;
    top: 50px;
    right: 20px;
    padding: 10px;
    z-index: 50;
    box-shadow: 0px 1px 10px 1px rgb(128 128 128 / 50%);
    gap: 10px;
    box-sizing: border-box;
    user-select: none;
}

.settings-menu > a {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.settings-menu > a:visited{
    color: black;
}

.settings-menu > hr {
    all: unset;
    border-top: 1px solid var(--line-grey);
}

.settings-profile span{
    height: 70px;
    min-height: 70px;
    width: 70px;
    min-width: 70px;
    flex: none;
}

.settings-menu h2{
    font-size: 18px;
    margin: 0px;
}

.settings-menu p{
    color: var(--dark-grey);
    font-size: 16px;
    margin: 0px;
    margin-top: 5px;
}

.settings-menu button {
    all: unset;
    padding: 15px;
    color: var(--dark-grey);
    background-color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}

.settings-menu button:hover{
    filter: brightness(95%);
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.profile:visited {
    text-decoration: none;
    color: black;
}

.profile span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--light-grey);
}

.home {
    display:flex;
    justify-content: center;
    background-color: #F0F2F5;
    height:100%;
    min-height: 100vh;
    width: 100%;
}

.post-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    min-width: 500px;
    max-width: 680px;
    padding: 15px;
    margin-top: 50px;
    gap: 15px;
    align-items: center;
}

.post-container > button {
    all:unset;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-blue);
    border: 1px solid var(--main-blue);
    border-radius: 10px;
    height: 40px;
    width: 30%;
    min-width: 100px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 25px;
    background-color: var(--light-grey);
    cursor: pointer;
}

.post-container > button:hover {
    filter: brightness(95%);
}

.new-post {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    min-width: 100px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px var(--drop-shadow);
    padding: 10px 15px;
    gap: 10px;
    border: 1px solid rgb(216, 216, 216);
    box-sizing: border-box;
}

.new-post-expanded {
    height: 200px;
    padding: 20px 20px 5px 20px;
    align-items: flex-start;
}

.new-post-profile {
    display: flex;
}
.new-post span {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--light-grey);
    margin-right: 10px;
    overflow: hidden;
    flex: none;
}

.profile-pic {
    user-select: none;
    cursor: pointer;
}
.profile-pic > img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.new-post-text {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    justify-content: center;
    box-sizing:border-box
}

.new-post-text-expanded {
    justify-content: space-between;
}

.new-post form {
    display: flex;
    align-items: center;
    height: 70%;
}
.new-post textarea {
    all: unset;
    width: 100%;
    min-width: 300px;
    background-color: var(--light-grey);
    height: 45px;
    border-radius: 30px;
    padding: 13px 13px 10px 13px;
    color: var(--dark-grey);
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-x: hidden;
}

.new-post .expanded {
    height: 100%;
    border-radius: 10px;
}

.new-post button {
    all:unset;
    border: 1px solid var(--main-blue);
    width: 80px;
    text-align: center;
    padding: 5px 0px;
    border-radius: 10px;
    margin-left: 5px;
    color: var(--main-blue);
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.new-post button:hover {
    background-color: var(--main-blue);
    color: white;
}

.new-post .close-button{
    color: #ff6f8e;
    border-color: #ff6f8e;
    background-color: white;
}

.new-post .close-button:hover{
    background-color: #ff6f8e;
}

.post {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    min-width: 100px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px var(--drop-shadow);
    padding: 15px 15px 5px 15px;
    gap: 5px;
    border: 1px solid rgb(216, 216, 216);
    box-sizing: border-box;
}

.post-profile {
    display: flex;
    gap: 10px;
    padding-bottom: 15px;
}

.post-profile span {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--light-grey);
    overflow: hidden;
    flex: none;
}

.post-profile .post-self{
    display: flex;
    justify-content: flex-end;
    height: 50px;
    width: 50px;
    margin-left: auto;
}

.post-profile .post-self button{
    cursor: pointer;
}

.post-profile .post-self button:hover{
    background-color: white;
}

.post-self svg {
    height: 50px;
    width: 50px;
    fill: #d8d8d8;
}

.post-self svg:hover {
    fill: #ff3b65;
}

.post-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
}

.post-details>p {
    margin: 0px;
    font-size: 13px;
    color: var(--dark-grey);
}

.post-details>a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: black;
    margin: 0px;
}

.post-details>a:visited {
    text-decoration: none;
    color: black;
}

.post-content {
    font-size: 16px;
    font-weight: 300px;
    padding-bottom: 15px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.post-likes-comments-count {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--line-grey);
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: normal;
    color: var(--dark-grey);
    padding-bottom: 15px;
}

.post-likes:hover, .post-comments:hover {
    text-decoration: underline;
}

.post-likes, .post-comments {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    user-select: none;
    cursor: pointer;
}

.post-likes > svg {
    fill: var(--main-blue);
    height: 20px;
    width: 20px;
}

.post-buttons {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    user-select: none;
    cursor: pointer;
}

.post-buttons > .liked {
    color: var(--main-blue);
}

.post-buttons > .liked svg {
    fill: var(--main-blue);
    animation: 0.5s rotate
}

@keyframes rotate {

    60% {
        transform: scale(1.3) rotate(-20deg);
    }
}

.likes-mod-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(238, 238, 238, 0.637);
    overflow: hidden;
}

.likes-mod {
    height: 500px;
    min-width: 600px;
    max-width: 600px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px var(--drop-shadow);
    border: 1px solid rgb(216, 216, 216);
    display: flex;
    flex-direction: column;
    padding: 25px;
    box-sizing: border-box;
    overflow-y: auto;
    gap: 20px;
}

.likes-mod-header{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: var(--main-blue);
    user-select: none;
    padding-bottom: 10px;
}

.likes-mod .likes-mod-close{
    all: unset ;
    cursor: pointer;
    margin-left: auto;
}


.likes-mod .likes-mod-close:hover{
    background-color: transparent;
}

.likes-mod .likes-mod-close svg{
    height: 15px;
    width: 15px;
    stroke: var(--dark-grey);
}

.likes-mod-user{
    display: flex;
    align-items: center;
}

.likes-mod .likes-mod-user span{
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--light-grey);
    overflow: hidden;
    margin-right: 15px;
    flex: none;
}

.likes-mod-user .name{
    color: var(--dark-grey);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.likes-mod-user .name:hover{
    color: var(--dark-grey);
    text-decoration: underline;
}

.likes-mod img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.likes-mod .friend-button{
    margin-left: auto;
    height: 40px;
}

.likes-mod .friend-button button{
    height: 100%;
}

.post button,
.post label{
    all:unset;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 54%;
    color: var(--dark-grey);
    gap: 10px;
    user-select: none;
}

.post-buttons svg {
    fill: var(--dark-grey);
}

.post button:hover,
.post label:hover {
    background-color: rgb(238, 238, 238);
}

.comments {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--line-grey);
    padding-top: 15px;
}

.comment {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.comments span{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--light-grey);
    overflow: hidden;
    flex: none;
}

.comment-main {
    display: flex;
    gap: 5px;
}

.comment-self {
    display: flex;
    align-items: center;
}

.comment-self button{
    width: 100%;
    cursor: pointer;
}

.comment-self button:hover{
    background-color: white;
}

.comment-self svg {
    height: 30px;
    width: 20px;
    fill: #d8d8d8;
}

.comment-self svg:hover {
    fill: #ff3b65;
}

.comment-content {
    background-color: var(--light-grey);
    padding: 10px 15px;
    border-radius: 25px;
}

.comment-content >a,p {
    margin: 3px;
}

.comment-content > a{
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.comment-content > p {
    font-weight: normal;
    line-height: 20px;
    font-size: 16px;
}

.comment-buttons { 
    display: flex;
    align-items: center;
    font-size: 13px;
    gap: 10px;
    padding-left: 15px;
}

.comment-buttons svg {
    height: 16px;
    width: 16px;
    fill: var(--main-blue);
    user-select: none;
    cursor: pointer;
}

.comment-buttons > p {
    display: flex;
    align-items: center;
    gap: 3px;
}
.comment-buttons > button {
    all:unset;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    gap: 3px;
}

.comment-buttons > .liked {
    color: var(--main-blue);
}

.comment-buttons > button:hover {
    text-decoration: underline;
    background-color: white;
}

.comment-likes{
    position: relative;
    display: flex;
    align-items: center;
    gap: 3px;
}

.comment-likes:hover{
    text-decoration: underline;
    cursor: pointer;
}

.comment-likes > .likes-hover{
    top: 25px;
    left: 5px;
}

.post-comment { 
    display: flex;
    padding-bottom: 15px;

}

.comments input {
    all: unset;
    width: 90%;
    background-color: var(--light-grey);
    height: 80%;
    border-radius: 25px;
    text-indent: 15px;
    padding: 5px;
    margin-left: 15px;
}

.profile-page {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    background-color: #F0F2F5;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.profile-page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    min-width: 600px;
    background-color: white;
    padding: 30px 0px 0px 0px;
    box-shadow: 0px 1px 2px 0px var(--drop-shadow);
}

.profile-page-header-wrapper {
    display: flex;
    width: 90%;
    max-width: 1200px;
}

.profile-page-header-wrapper>span{
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--light-grey);
    margin-right: 20px;
    overflow: hidden;
    flex: none;
}

.profile-page-details {
    margin-right: auto;
    align-self: center;
}

.profile-page-details > h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}

.profile-page-details > p {
    font-size: 18px;
    font-weight: bold;
    color: var(--dark-grey);
}

.profile-page-header-wrapper > .friend-button {
    align-self: end;
    margin-left: auto;
}

.profile-page-header-wrapper > .friend-button button {
    height: 40px;
    padding: 0px 40px
}

.profile-page-header-wrapper > .friend-button .expanded {
    top: 55px;
}

.profile-nav-bar {
    margin-top: 25px;
    padding: 5px 0px;
    width: 90%;
    max-width: 1200px;
    display: flex;
    border-top: 1px solid var(--line-grey);
}

.profile-nav-bar > button {
    all:unset;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    color:var(--dark-grey);
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}

.profile-nav-bar > button:hover {
    background-color: var(--light-grey);
}

.profile-nav-bar > button.selected {
    border-bottom: 4px solid var(--main-blue);
    color: var(--main-blue);
}

.profile-nav-bar > button.selected:hover {
    background-color: white;
}

.profile-posts-content {
    padding: 15px 0px;
    gap: 15px;
    align-self: center;
    display: grid;
    max-width: 1130px;
    width: 85%;
    grid-template-columns: minmax(250px, 450px) minmax(450px, 680px);
}

.profile-intro {
    position: sticky;
    top: 65px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px var(--drop-shadow);
    padding: 20px;
    gap: 5px;
    border: 1px solid rgb(216, 216, 216);
    box-sizing: border-box;
    height:fit-content;
    box-sizing: border-box;
}

.profile-intro  svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    padding-right: 5px;
}

.profile-intro > p {
    color: var(--dark-grey);
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 16px;
}

.profile-page h2 {
    padding: 0px;
    margin: 0px;
}

.profile-posts-container {
    display: flex;
    flex-direction: column;
    max-width: 680px;
    width: 100%;
    gap: 15px;
}

.profile-posts-container h3 {
    color: var(--dark-grey);
    align-self: center;
}

.profile-posts-title {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px var(--drop-shadow);
    padding: 20px;
    gap: 5px;
    border: 1px solid rgb(216, 216, 216);
    box-sizing: border-box;
    height:fit-content;
}

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: var(--light-grey);
}
.login-page-container {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 75px;
    max-width: 750px;
}

.login-page-left {
    color: var(--main-blue);
    font-size: 60px;
    font-weight: 600;
    letter-spacing: -3px;
}

.login-page-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.login-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 100%;
    max-width: 350px;
    min-width: 300px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 4px 6px 2px var(--drop-shadow);
    padding: 20px;
    box-sizing: border-box;
}

.login-form button:hover,
.sign-up-overlay button:hover{
    filter: brightness(95%);
}

.login-page .success,
.login-page .error,
.edit-mod-container .error {
    color: #0b9228;
    align-self: start;
    padding-bottom: 10px;
    animation: fade 0.5s;
}

.login-page .error,
.edit-mod-container .error{
    color: red;
    white-space: pre-line;
}

.login-page .error::before,
.login-page .success::before,
.edit-mod-container .error::before{
    content: "* ";
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }

.login-form > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
    border-bottom: 1px solid var(--line-grey);
}

.login-form > form > input {
    all:unset;
    border: 1px solid var(--line-grey);
    border-radius: 10px;
    height: 40px;
    width: 100%;
    text-indent: 15px;
    color: var(--dark-grey);
}

.login-form > form > button {
    all:unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-blue);
    border-radius: 10px;
    height: 40px;
    width: 100%;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
}

.login-form .demo {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(0, 0, 0);
}

.login-form > button {
    all:unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-green);
    border-radius: 10px;
    height: 40px;
    width: 60%;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    min-width: 200px;
}

.sign-up-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: rgba(165, 165, 165, 0.473);
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px var(--drop-shadow);
}

.sign-up-header {
    display: flex;
    justify-content: space-between;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 25px;
}

.sign-up-header > button {
    all:unset;
    font-size: 25px;
    align-self:flex-start;
    cursor: pointer;
}

.sign-up-header > button svg{
    height: 20px;
    width: 20px;
    stroke: var(--dark-grey);
}

.sign-up-container > form {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.sign-up-container > form > label {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: -2px;
    color: var(--dark-grey);
}

.sign-up-container > form > input:not([type=file]) {
    all:unset;
    width: 80%;
    border: 1px solid var(--line-grey);
    border-radius: 10px;
    height: 40px;
    width: 100%;
    text-indent: 15px;
    color: var(--dark-grey);
}

.sign-up-container > form > input[type=date],
.sign-up-container > form > input[type=file] {
    display: flex;
    align-items: center;
    text-indent: 8px;
    font-size: 14px;
    color: var(--dark-grey);
}

.sign-up-container > button {
    all:unset;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-green);
    border-radius: 10px;
    height: 40px;
    width: 60%;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
    cursor: pointer;
}

.friends-page {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0F2F5;
    min-height: 100vh;
    width: 100%;
}

.friends-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 25px;
    background-color: white;
    box-shadow: 0px 1px 2px 0px var(--drop-shadow);
    min-width: 720px;
    max-width: 1200px;
    width: 80%;
    box-sizing: border-box;
    margin-top: 70px;
}

.friends-container h2 {
    align-self: start;
    padding-left: 20px;
    padding-top: 5px;
}
.friends-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    grid-auto-rows:max-content;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    gap: 5px;
}

.friends-grid h3 {
    color: var(--dark-grey);
    padding-left: 25px;
    font-size: 18px;
}

.friend-card {
    display: flex;
    align-items: center;
    height: 120px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    gap: 10px;
    max-width: 100%;
}

.friend-card-pic {
    min-height: 80px;
    height: 80px;
    min-width: 80px;
    width: 80px;
    background-color: var(--light-grey);
    border-radius: 10px;
    overflow: hidden;
    user-select: none;
}

.friend-card > a {
    font-size: 16px;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.friend-card > a:visited {
    text-decoration: none;
    color: black;
}

.friend-card-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-left: auto;
    gap: 8px;
}

.friends-container > button {
    all:unset;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-blue);
    background-color: white;
    border: 1px solid var(--main-blue);
    border-radius: 10px;
    height: 40px;
    width: 200px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 25px;
    cursor: pointer;
    user-select: none;
}

.friends-container > button:hover {
    filter:brightness(95%);
}

.friends-nav-bar {
    display: flex;
    padding: 5px 15px;
    width: 100%;
    user-select:none;
    box-sizing: border-box;
}

.friends-nav-bar > button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: fit-content;
    min-width: 100px;
    color:var(--dark-grey);
    font-weight: bold;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 16px;
    cursor: pointer;
}

.friends-nav-bar > button:hover {
    background-color: var(--light-grey);
}

.friends-nav-bar > button.selected {
    border-bottom: 4px solid var(--main-blue);
    color: var(--main-blue);
}

.friends-nav-bar > button.selected:hover {
    background-color: white;
}

.friends-nav-bar .search{
    display: flex;
    align-items: center;
    background-color: var(--light-grey);
    padding: 5px;
    border-radius: 50px;
    padding-left: 15px;
    gap: 10px;
    width: 40%;
    align-self: center;
    margin-left: auto;
}

.friends-nav-bar .search svg{
    height: 20px;
    width: 20px;
    fill: var(--dark-grey);
    flex: none;
}

.friends-nav-bar input{
    all:unset;
    color: var(--dark-grey);
    height: 35px;
    align-self: center;
}


.friend-button {
    position: relative;
    float: right;
    user-select: none;
}
.friend-button button {
    all:unset;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 35px;
    padding: 0px 15px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
}

.friend-button .respond,
.friend-button .friends{
    background-color: var(--main-blue);
}

.friend-button .respond:hover,
.friend-button .friends:hover{
    background-color: var(--main-blue);
    filter: brightness(95%);
}

.friend-button .not-friends{ 
    background-color: rgb(230, 248, 255);
    color: var(--main-blue);
}

.friend-button .not-friends:hover{
    background-color: rgb(230, 248, 255);
    color: var(--main-blue);
    filter: brightness(95%);
}

.friend-button .deny,
.friend-button .requested,
.friend-button .edit-profile {
    background-color: var(--light-grey);
    color: var(--dark-grey);
}

.friend-button .deny:hover,
.friend-button .requested:hover,
.friend-button .edit-profile:hover{
    background-color: var(--light-grey);
    color: var(--dark-grey);
    filter: brightness(95%);
}

.friend-button .expanded {
    position: absolute;
    z-index: 1;
    display:flex;
    flex-direction: column;
    width: fit-content;
    min-width: 200px;
    min-height: 30px;
    justify-content: center;
    top: 45px;
    right: 0px;
    box-shadow: 0px 1px 10px 1px rgb(128 128 128 / 50%);
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

.friend-button .expanded button{
    min-height: 30px;
}

.friend-button .requested-cancel,
.friend-button .friends-unfriend,
.friend-button .deny,
.friend-button .confirm {
    background-color: white;
    color: var(--dark-grey);
    justify-content: start;
    padding: 0px 25px;
    white-space: nowrap;
}

.expand-profile-pic-bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
}

.expand-profile-pic-bg button{
    all: unset ;
    position: fixed;
    top: 20px;
    left: 35px;
    z-index: 101;
    cursor: pointer;
    margin-left: auto;
}

.expand-profile-pic-bg button svg{
    height: 25px;
    width: 25px;
    stroke: white;
}

.expand-profile-pic-bg button:hover{
    filter: brightness(95%);
}

.expand-profile-pic-bg .img-container{
    max-height: 100vh;
    box-sizing: border-box;
}

.expand-profile-pic-bg img{
    max-height: 100vh;
    max-width: 100vw;
    height: 100%;
    width: 100%;
    object-fit: contain;
    box-sizing: border-box;
}

.edit-mod-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(238, 238, 238, 0.637);
    overflow: hidden;
}

.edit-mod-container {
    min-height: 450px;
    min-width: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px var(--drop-shadow);
    border: 1px solid rgb(216, 216, 216);
    display: flex;
    flex-direction: column;
    padding: 25px;
    box-sizing: border-box;
    gap: 20px;
}

.edit-mod-header{
    display: flex;
    justify-content: space-between;
}

.edit-mod-header .edit-mod-close-button{
    all: unset ;
    cursor: pointer;
    margin-left: auto;
    align-self: flex-start;
}

.edit-mod-header .edit-mod-close-button svg{
    height: 15px;
    width: 15px;
    stroke: var(--dark-grey);
}

.edit-mod-container h1{
    margin-bottom: 15px;
    font-size: 18px;
    color: var(--main-blue);
}

.edit-mod-container > form {
    width: 100%;
    align-self: center;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.edit-mod-container > form > label {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: -2px;
    color: var(--dark-grey);
}

.edit-mod-container > form > input:not([type=file]) {
    all:unset;
    width: 80%;
    border: 1px solid var(--line-grey);
    border-radius: 10px;
    height: 40px;
    width: 100%;
    text-indent: 15px;
    color: var(--dark-grey);
}

.edit-mod-container > form > input[type=date],
.edit-mod-container > form > input[type=file] {
    display: flex;
    align-items: center;
    text-indent: 8px;
    font-size: 14px;
    color: var(--dark-grey);
}

.edit-mod-container button{
    all:unset;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 35px;
    padding: 0px 15px;
    width: 100px;
    align-self: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
    background-color: var(--main-blue);
    margin-top: 25px;
    height: 35px;
    flex: none;
}

.edit-mod-container button:hover{
    filter: brightness(95%);
}

.error-page {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    height: 100vh;
    width: 100vw;
    padding: 25px;
    background-color: white;
}

.likes-hover {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 10px;
    position: absolute;
    z-index: 150;
    top: 25px;
    left: 35px;
    width: fit-content;
    color: white;
    white-space: nowrap;
    padding: 10px;
    font-size: 14px;
    gap: 5px;
}

@media only screen and (max-width: 780px) {
    .login-page{
        width: 100%;
    }
    .login-page-container{
        flex-direction: column;
        width: 100%;
    }
    .friends-nav-bar {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 25px;
    }
    .friends-nav-bar .search{
        margin-left: 0;
        width: 80%;
    }
    .friends-container{
        width: 95%;
        min-width: 0px;
    }
    .friends-grid {
        grid-template-columns: 1fr;
        max-width: 500px;
    }

    .profile-posts-content{
        grid-template-columns: 1fr;
    }

    .profile-intro{
        position: relative;
        top: 0px;
    }

}

@media only screen and (max-width: 600px) {
    .post-container{
        width: 100%;
        min-width: 0px;
    }

    .nav-bar-right .profile{
        display: none;
    }

    .new-post textarea{
        min-width: 0px;
        font-size: 14px;
    }

    .likes-mod, .edit-mod-container{
        width: 100%;
        min-width: 0px;
    }

    .friends-nav-bar {
        column-gap: 25px;
    }
    .friends-nav-bar > button {
        font-size: 14px;
        max-width: 60px;
        width: 100%;
        min-width: 50px;
    }

    .profile-page-header{
        min-width: 0px;
    }

    .profile-page-header-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .profile-page-details{
        margin-right: 0;
    }
    .profile-page-header-wrapper>.friend-button{
        margin-top: 25px;
        align-self: center;
        margin-left: 0;
    }
    
}

@media only screen and (max-width: 400px) {
    .logo {
        margin: 0px;
    }
    .nav-bar {
        padding: 5px;
        gap: 2px;
    }

    .nav-bar-middle{
        gap: 0px;
    }

    .nav-bar-right{
        gap: 2px;
    }

    .new-post textarea{

    }

    .new-post-expanded{
        flex-direction: column;
        align-items: center;
    }

    .new-post-text-expanded{
        height: 250px;
        justify-content: flex-start;
        gap: 25px;
    }

    .new-post-expanded{
        height: auto;
    }
    .settings-menu{
        width: auto;
    }

    .likes-mod-user .name{
        font-size: 14px;
    }
    .friends-nav-bar {
        column-gap: 0px;
    }

    .friends-nav-bar > button {
        font-size: 14px;
        min-width: 50px;
        max-width: 60px;
    }

    .friends-grid{
        gap: 15px;
    }

    .friend-card{
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .friend-card-buttons{
        margin-left: 0;
    }

    .friend-card a{
        max-width: 100%;
    }

    .profile-page-details h1{
        font-size: 24px;
    }
}